<ion-item lines="none">
  <ion-searchbar #destinationSearchbar search-icon="navigate-circle-outline" inputmode="text"
                 mode="ios" placeholder="destination" color="" icon-color="dark"
                 (keyup.enter)="emitDiscoveryEvent()" [value]="destinationSearchbarValue">
  </ion-searchbar>
  <ion-button size="default" mode="ios" color="medium" (click)="emitDiscoveryEvent()" *ngIf="searchBtnIsVisible">
    <ion-icon size="large" slot="icon-only" name="search" color=""></ion-icon>
  </ion-button>
  <span class="vertical-line" *ngIf="searchBtnIsVisible"></span>
  <ion-button size="default" mode="ios" color="primary" (click)="routeBtnClick()">
    <ion-icon size="large" slot="icon-only" src="assets/navigation-svgs/directions-24px.svg"></ion-icon>
  </ion-button>
</ion-item>
<ion-item *ngIf="routeInputIsVisible" lines="none">
  <ion-searchbar #startSearchBar search-icon="locate-outline" animated="true" inputmode="text" mode="ios"
                 placeholder="start" color="" icon-color="dark"
                 (keyup.enter)="emitRouteEvent()" [value]="startSearchBarValue">
  </ion-searchbar>
  <ion-button size="default" mode="ios" color="primary" (click)="hideRouteSearchBar()" *ngIf="closeRouteBtnIsVisible">
    <ion-icon size="large" slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>
</ion-item>
