:host {
  z-index: auto;
}

ion-slide {
  height: 100%;
  width: 100%;
}

// media queries copied from @ionic/angular/css/display.css
@media (min-width: 576px) {

}
@media (max-width: 575.98px) {

}
@media (min-width: 768px) {

}
@media (max-width: 767.98px) {

}
@media (min-width: 992px) {
  ion-slide {
    padding-bottom: 2em;
  }
}
@media (max-width: 991.98px) {
  ion-slide {
    padding-bottom: 0.5em;
  }
}
@media (min-width: 1200px) {

}
@media (max-width: 1199.98px) {

}