<ion-fab #fab vertical="top" horizontal="end" slot="fixed" (click)="loadAvailableFloors()">
  <!-- [hidden]="this.currentBuilding === undefined && this.currentFloor === undefined" -->
  <ion-fab-button>
    <ng-content #currentBuilding select="#current-building"></ng-content>.<ng-content select="#current-floor"></ng-content>
  </ion-fab-button>
  <!-- foreach (const f of floors) {append ion-fab-button to ion-fab-list} -->
  <ion-fab-list side="bottom" *ngFor="let floor of availableFloors">
    <ion-fab-button>
<!--      <ion-icon name="logo-github"></ion-icon>-->
      <span [innerHTML]="floor"></span>
    </ion-fab-button>
<!--    <ion-fab-button>
      <ion-icon name="logo-javascript"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="logo-angular"></ion-icon>
    </ion-fab-button>-->
  </ion-fab-list>
</ion-fab>