<ion-content>
  <div class="padding">
    <ion-list-header>Accounts</ion-list-header>
    <ion-list lines="none">
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/person-circle-sharp.svg">
        </ion-avatar>
        <ion-label>
          <h3>Moodle</h3>
          <p [innerHTML]="moodleUserName"></p>
        </ion-label>
        <ion-select *ngIf="isSignedIn" (ionChange)="logoutFromMoodle()" selected-text=""
                    interface="action-sheet" [interfaceOptions]="actionSheetOptions" mode="ios"
        >
          <ion-select-option id="moodle-logout" value="sign-out" selected-text="">sign out</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <hr>
  <div class="padding">
    <ion-list-header>Language</ion-list-header>
    <select>
      <option value="english" selected>English</option>
      <option value="german">Deutsch</option>
      <option value="spain">Español</option>
    </select>
  </div>
  <hr>
  <ion-list lines="" class="ion-padding-top ion-margin-top">
    <ion-item href="#">
      <ion-icon slot="end" color="dark" name="help-circle-outline"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon slot="end" color="dark" name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-icon size="large" name="logo-android"></ion-icon>
      <ion-icon size="large" name="logo-apple"></ion-icon>
      <ion-icon size="large" name="logo-tux"></ion-icon>
      <ion-icon size="large" name="logo-windows"></ion-icon>
      <ion-icon size="large" name="logo-firefox"></ion-icon>
      <ion-icon size="large" name="logo-chrome"></ion-icon>
      <ion-icon size="large" name="logo-electron"></ion-icon>
      <ion-icon size="large" name="logo-ionic"></ion-icon>
    </ion-row>
  </ion-grid>
</ion-footer>
