# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'studiguide/studiguide_appservice'
  tagname: 'latest'

steps:
- script: echo Starting Studi-Guide Build!
  displayName: 'SCM checkout'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: 'src/main/back/StudiGuideAppService.sln'
   

- task: Docker@2
  displayName: Build docker container
  inputs:
    repository: $(imageName)
    command: build
    Dockerfile: src/main/back/Dockerfile
    tags: $(tagname)
