<ion-header>
  <ion-toolbar>
    <ion-title>
      Lunch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-list lines="none">
      <ion-list-header>
        Meal
      </ion-list-header>
      <ion-item button (click)="onMensaClick()">
        <ion-icon slot="start" color="dark" name="beer"></ion-icon>
        <app-expander class="mensa" header="Mensateria" [expanded]="isMensaExpanded">
          <h3 [innerHTML]="mensaFeedContent.content">
          </h3>
        </app-expander>
      </ion-item>
      <ion-item href="https://www.kim-chung.de/speisekarte/mittagsgerichte/">
        <ion-icon slot="start" color="dark" name="pizza"></ion-icon>
        <ion-label>Vietnam restaurant</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="dark" name="cafe"></ion-icon>
        <ion-label>Döner ums Eck</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
