<app-navigation-instruction-slides #navSlides (nextSlide)="onSlideChange($event)" (previousSlide)="onSlideChange($event)"></app-navigation-instruction-slides>
<ion-content scroll-y="false">
  <ion-progress-bar type="indeterminate" color="secondary" *ngIf="progressIsVisible"></ion-progress-bar>
  <div id="map-content">
    <ion-text id="error-message" *ngIf="errorMessage" >
      <h5><span class="error">{{ errorMessage }}</span></h5>
      <p i18n="search error|spelling check">Make sure your search is spelled correctly.</p>
      <p i18n="search error|missing place request">Should this place be on Studi-Guide?
        <br/>
        <a href="https://github.com/Studi-Guide/Studi-Guide/issues/new/choose">Request a missing place</a>
      </p>
    </ion-text>
    <div id="leafletMap"></div>
  </div>


</ion-content>

<app-ionic-bottom-drawer (stateChange)="onDrawerStateChange($event)" #searchDrawer>
  <div class="nav-bottom-drawer">
    <div class="drawer-grip">
      <div class="ion-padding-top"></div>
      <div class="nav-hbar"></div>
    </div>
    <app-search-input #searchInput
                      (discovery)="onSearch($event)"
                      (route)="onRoute($event)">
    </app-search-input>
    <ion-content #drawerContent>
      <ion-list *ngIf="model.recentSearches.length > 0" class="ion-no-padding">
        <ion-list-header>
          <h2>Recent Searches</h2>
        </ion-list-header>
        <ion-item *ngFor="let s of model.recentSearches;" button (click)="recentSearchClick(s)">
          <ion-text>{{s}}</ion-text>
        </ion-item>
      </ion-list>
      <ion-list class="ion-no-padding">
        <ion-list-header>
          <h2>Choose a Campus</h2>
        </ion-list-header>
        <ion-item *ngFor="let campus of availableCampus" button (click)="onCampusClick(campus)">
          <ion-label>
            <h2>{{campus.ShortName}}: {{campus.Name}}</h2>
            <h3>{{campus.Address}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
      <div class="ion-padding-vertical"></div><div class="ion-padding-vertical"></div>
      <div class="ion-padding-vertical"></div><div class="ion-padding-vertical"></div>
      <div class="ion-padding-vertical"></div><div class="ion-padding-vertical"></div>
    </ion-content>
  </div>
</app-ionic-bottom-drawer>

<app-ionic-bottom-drawer #locationDrawer state="DrawerState.Hidden">
  <div class="nav-bottom-drawer">
    <div class="drawer-grip">
      <div class="ion-padding-top"></div>
      <div class="nav-hbar"></div>
      <div class="ion-padding-bottom"></div>
    </div>
    <ion-content>
      <ion-grid id="locationdrawerContent" >
        <ion-row class="ion-justify-content-between ion-align-self-center">
          <ion-col>
            <ion-label><h1>{{this.model.latestSearchResult.Name}}</h1></ion-label>
            <ion-text>{{this.model.latestSearchResult.Description}}</ion-text>
          </ion-col>
          <ion-col class="ion-justify-content-end ion-padding-horizontal">
            <ion-button class="square-sm ion-no-padding ion-float-right" shape="round" color="medium" (click)="onCloseLocationDrawer($event)">
              <ion-icon slot="icon-only" name="close-outline" size="small"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="primary" expand="block" (click)="detailsBtnClick()">
              Details
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="routeBtn" color="primary" expand="block" (click)="onRouteBtnClick()">
              Route
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of model.latestSearchResult.Information">
          <ion-col>{{item[0]}}</ion-col>
          <ion-col>{{item[1]}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</app-ionic-bottom-drawer>

<app-ionic-bottom-drawer #routeDrawer state="DrawerState.Hidden">
  <div class="nav-bottom-drawer">
    <div class="drawer-grip">
      <div class="ion-padding-top"></div>
      <div class="nav-hbar"></div>
      <div class="ion-padding-bottom"></div>
      <ion-grid>
        <ion-row class="ion-justify-content-between ion-align-self-center">
          <ion-col>
            <ion-label><h1>To {{this.model.latestSearchResult.Name}}</h1></ion-label>
            <ion-text>From My Location</ion-text>
          </ion-col>
          <ion-col class="ion-justify-content-end ion-padding-horizontal">
            <ion-button class="square-sm ion-no-padding ion-float-right" shape="round" color="medium" (click)="onCloseRouteDrawer($event)">
              <ion-icon slot="icon-only" name="close-outline" size="small"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label><h2>{{this.model.Route.Time}} min</h2></ion-label>
            <ion-text>{{this.model.Route.Distance}} m</ion-text>
          </ion-col>
          <ion-col>
            <ion-button *ngIf="!UseDrawerForNavigation()" color="success" expand="block" (click)="onLaunchNavigation()">
              Go
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let i of model.Route.NavigationInstructions" button (click)="onNavigationInstructionClick(i)">
          <ion-label>{{i.text}}</ion-label>
          <ion-text>{{i.distance}}m</ion-text>
        </ion-item>
      </ion-list>
      <div class="ion-padding-vertical"></div><div class="ion-padding-vertical"></div>
      <div class="ion-padding-vertical"></div><div class="ion-padding-vertical"></div>
      <div class="ion-padding-vertical"></div><div class="ion-padding-vertical"></div>
      <div class="ion-padding-vertical"></div><div class="ion-padding-vertical"></div>
    </ion-content>
  </div>
</app-ionic-bottom-drawer>

<app-ionic-bottom-drawer #inNavigationDrawer state="DrawerState.Hidden">
  <div class="nav-bottom-drawer">
    <div class="drawer-grip">
      <div class="ion-padding-top"></div>
      <div class="nav-hbar"></div>
      <div class="ion-padding-bottom"></div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label><h2>{{this.model.Route.Time}} min</h2></ion-label>
            <ion-text>{{this.model.Route.Distance}} m</ion-text>
          </ion-col>
          <ion-col>
            <ion-button color="danger" (click)="onEndRouteClick()" expand="block">
              End Route
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</app-ionic-bottom-drawer>