<app-navigation-instruction-slides #navSlides (nextSlide)="onSlideChange($event)" (previousSlide)="onSlideChange($event)"></app-navigation-instruction-slides>
<app-nav-drawer-manager #drawerManager
(campusClick)="onCampusClick($event)"
(navInstructionClick)="onNavigationInstructionClick($event)"
(search)="onSearch($event)"
(detailsClick)="onDetailsClick()"
(stateChange)="onDrawerManagerStateChange($event)"
(newRoute)="onRoute($event)">
</app-nav-drawer-manager>
<ion-content data-tap-disabled="true" scroll-y="false">
  <ion-progress-bar type="indeterminate" color="secondary" *ngIf="progressIsVisible"></ion-progress-bar>
  <div id="map-content">
    <ion-text id="error-message" *ngIf="errorMessage" >
      <h5><span class="error">{{ errorMessage }}</span></h5>
      <p i18n="search error|spelling check">Make sure your search is spelled correctly.</p>
      <p i18n="search error|missing place request">Should this place be on Studi-Guide?
        <br/>
        <a href="https://github.com/Studi-Guide/Studi-Guide/issues/new/choose">Request a missing place</a>
      </p>
    </ion-text>
    <div id="leafletMap"></div>
  </div>
</ion-content>
