<app-nav-drawer-manager #drawerManager
(campusClick)="onCampusClick($event)"
(navInstructionClick)="onNavigationInstructionClick($event)"
(search)="onSearch($event)"
(detailsClick)="onDetailsClick()"
(stateChange)="onDrawerManagerStateChange($event)"
(newRoute)="onRoute($event)">
</app-nav-drawer-manager>
<app-navigation-instruction-slides #navSlides (nextSlide)="onSlideChange($event)" (previousSlide)="onSlideChange($event)"></app-navigation-instruction-slides>
<ion-content data-tap-disabled="true" scroll-y="false">
  <ion-progress-bar type="indeterminate" color="secondary" *ngIf="progressIsVisible"></ion-progress-bar>
  <div id="map-content">
    <div id="leafletMap"></div>
  </div>
</ion-content>
