#map-content {
  height: 100%;
  width: 100%;
  position: fixed;
}

.error {
  color: red;
}

#error-message {
  margin-left: 20px;
}

#leafletMap {
  height: 100%;
  width: 100%;
  z-index: 0
}

#leafletMap::-webkit-scrollbar {
  display: none; // Chrome, Safari, Opera
}

#available-floors-btn {
  position: fixed;
  bottom: 0;
  display: block;
  z-index: 10;
}

.draggable {
  cursor: grab; /* W3C standards syntax, all modern browser */
}

.draggable:active {
  cursor: grabbing;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ion-progress-bar {
  position: absolute;
  z-index: 9999;
}