<ion-content>
    <ion-grid fixed>
        <ion-refresher slot="fixed" (ionRefresh)="doRefreshEvents($event)">
            <ion-refresher-content>
            </ion-refresher-content>
        </ion-refresher>
        <ion-list lines="none">
            <ion-item-sliding *ngFor="let element of rssFeed">
                <ion-item>
                    <ion-card  (click)="onFeedClick(element)">
                        <ion-card-header>
                            <ion-card-subtitle>{{element.published | date : 'dd.MM.yyyy hh:mm'}}</ion-card-subtitle>
                            <ion-card-title>{{element.title}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <app-expander class="expander" [header]="element.description" [expanded]="element.isExpanded">
                                <div [innerHTML]="element.content"></div>
                            </app-expander>
                        </ion-card-content>
                    </ion-card>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
    </ion-grid>
</ion-content>
