.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

#location-entry{
  color: dodgerblue;
  font-weight: bold;
  cursor: pointer;
}

ion-card{
  width: 100%;
  cursor: pointer;
}

.expander {
  width: 100%;
  max-width: 100%;
}