<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="navigation">
      <ion-icon name="navigate"></ion-icon>
      <ion-label i18n="tab name|navigation">Navigation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="school"></ion-icon>
      <ion-label i18n="tab name|schedule">Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label i18n="tab name|lunch">Lunch</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="ios-information-circle-outline"></ion-icon>
      <ion-label i18n="tab name|news">News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label i18n="tab name|settings">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
