.stdg-tooltip-hide {
  display: none;
}

.stdg-tooltip {
  display: inline-block;
  z-index: 9999;
  font-size: .75em;
  padding: .5em;
  position: absolute;
  text-align: center
}

.stdg-tooltip-light {
  background: #eaeaea;
  background: linear-gradient(to bottom, #fdfdfd 0%, #eaeaea 100%);
  box-shadow: 0 0 6px 2px rgba(110, 110, 110, 0.4);
  color: #242424
}

.stdg-tooltip-dark {
  background: #242424;
  background: linear-gradient(to bottom, #6e6e6e 0%, #242424 100%);
  box-shadow: 0 0 6px 2px #6e6e6e;
  color: #fff
}