.stdg-tooltip-hide {
  display: none;
}

.stdg-tooltip {
  display: inline-block;
  z-index: 9999;
  font-size: .75em;
  padding: .5em;
  position: absolute;
  text-align: center
}

.stdg-tooltip-light {
  background: var(--ion-color-light, #f4f5f8);
  background: linear-gradient(to bottom, var(--ion-color-light-tint, #f5f6f9) 0%, var(--ion-color-light, #f4f5f8) 100%);
  box-shadow: 0 0 6px 2px rgba(245, 246, 249, 0.4);
  color: var(--ion-color-light-contrast, #242424);
}

.stdg-tooltip-medium {
  background: var(--ion-color-medium, #92949c);
  background: linear-gradient(to bottom, var(--ion-color-medium-tint, #9d9fa6) 0%, var(--ion-color-medium, #92949c) 100%);
  box-shadow: 0 0 6px 2px   rgba(157, 159, 166, 0.4);
  color: var(--ion-color-medium-contrast, #ffffff);
}

.stdg-tooltip-dark {
  background: var(--ion-color-dark, #242424);
  background: linear-gradient(to bottom, var(--ion-color-dark-tint, #383a3e) 0%, var(--ion-color-dark, #242424) 100%);
  box-shadow: 0 0 6px 2px  rgba(56, 58, 62, 0.4);
  color: var(--ion-color-dark-contrast, #fff);
}

.stdg-tooltip-rounded {
  border-radius: 3px;
}