<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 12px;">
    <ion-list-header>
      <ion-label>set Language</ion-label>
    </ion-list-header>
    <select>
      <option value="german">Deutsch</option>
      <option value="english">English</option>
      <option value="spain">Español</option>
    </select>
  </div>
  <hr style="background: #d7d8da;">
  <ion-list lines="" class="ion-padding-top ion-margin-top">
    <ion-item href="#">
      <ion-icon slot="end" color="dark" name="help-circle-outline"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon slot="end" color="dark" name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
