.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

#building-map {
    padding: 6px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 82%;
    scrollbar-width: none;
}

#building-map::-webkit-scrollbar {
    display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}