.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

#building-map {
    padding: 6px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 80%;
    scrollbar-width: none; // FF
    -ms-overflow-style: none; // IE
}

#building-map::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}