.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

#building-map {
    padding: 2px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: calc(100% - 62px);
    scrollbar-width: none; // FF
    -ms-overflow-style: none; // IE
}

#building-map::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ion-searchbar {
    max-width: 300px;
}

.vertical-line {
  border-left: 2px solid #9d9fa6;
  height: 38px;
}