<ion-content scroll-y="false">
  <ion-progress-bar type="indeterminate" color="secondary" *ngIf="progressIsVisible"></ion-progress-bar>
  <ion-item>
    <ion-label position="stacked"><ion-text color="primary">room / floor</ion-text></ion-label>
    <ion-input type="text" placeholder="KA.3xx" [(ngModel)]="startInput"></ion-input>
  </ion-item>
  <ion-item *ngIf="routeInputIsVisible">
    <ion-label position="stacked"><ion-text color="primary">destination</ion-text></ion-label>
    <ion-input type="text" placeholder="KA.3yy" [(ngModel)]="destinationInput"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-button size="small" color="primary" (click)="showFloorForSearch()" *ngIf="searchBtnIsVisible">
          <ion-icon slot="end" name="search"></ion-icon>
          search
        </ion-button>
        <ion-button size="small" color="primary" (click)="showRoute()" *ngIf="routeBtnIsVisible">
          <ion-icon slot="end" name="map"></ion-icon>
          <span id="routeBtnText">route</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="building-map" *ngIf="mapIsVisible">
    <svg xmlns="http://www.w3.org/2000/svg" attr.width="{{mapSvgWidth}}" attr.height="{{mapSvgHeight}}">
      <path *ngFor="let path of calculatedRoomPaths"
            attr.d="{{path.d}}"
            attr.fill="{{path.fill}}"
            stroke="#FFF"
      />
      <text *ngFor="let roomName of roomNames"
            attr.x="{{roomName.x}}"
            attr.y="{{roomName.y}}"
            font-size="9px"
            fill="#FFF">
        {{roomName.name}}
      </text>
      <path *ngFor="let doorLine of calculatedDoorLines" attr.d="{{doorLine.d}}" attr.stroke="{{doorLine.fill}}" />
      <!-- TEST -->
      <circle *ngFor="let pathNode of testRoute" attr.cx="{{pathNode.X}}" attr.cy="{{pathNode.Y}}" r="2" fill="red" />
      <!-- TEST END -->
      <!-- route -->
      <polyline attr.points="{{calculatedRoute}}" style="fill:none;stroke:#A00;stroke-width:3" />
      <svg viewBox="0 0 58 58" width="18" height="30"
           attr.x="{{routeStart.Coordinate.X-9}}"
           attr.y="{{routeStart.Coordinate.Y-15}}"
           *ngIf="startIsVisible">
        <path
          d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952
	      L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z
	      M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7
	      S31.416,26,27.557,26z"
        />
      </svg>
      <!-- distance -->
      <svg attr.x="{{distanceToDisplay.X}}" attr.y="{{distanceToDisplay.Y}}" *ngIf="distanceIsVisible">
        <rect x="0" y="0" width="32" height="14" fill="#A00"></rect>
        <text x="4" y="11" font-size="12px" fill="#FFF" style="stroke:#FFF;">
          {{distanceToDisplay.Value}}
        </text>
      </svg>
    </svg>
  </div>
</ion-content>