#map-content {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.error {
    color: red;
}

#error-message {
    margin-left: 20px;
}

#canvas-wrapper {
    padding: 2px;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none; // FF
    -ms-overflow-style: none; // IE
}

#canvas-wrapper::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
}

#available-floors-btn {
    position: fixed;
    bottom: 0;
    display: block;
    z-index: 10;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ion-progress-bar {
    position: absolute;
    z-index: 9999;
}

.vertical-line {
  border-left: 2px solid #9d9fa6;
  height: 38px;
}
