#map-content {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.error {
    color: red;
}

#error-message {
    margin-left: 20px;
}

#canvas-wrapper {
    padding: 2px;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none; // FF
    -ms-overflow-style: none; // IE
}

#canvas-wrapper::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
}

#available-floors-btn {
    position: fixed;
    bottom: 0;
    display: block;
    z-index: 10;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ion-progress-bar {
    position: absolute;
    z-index: 9999;
}

.vertical-line {
  border-left: 2px solid #9d9fa6;
  height: 38px;
}

.nav-hbar {
    border-top: 2px solid var(--ion-color-medium, #9d9fa6);
    border-bottom: 2px solid var(--ion-color-medium, #9d9fa6);
    border-radius: 2px;
    height: 0px;
    width: auto;
    margin: 0 45% 0 45%;
}

.nav-bottom-drawer {
    background-color: var(--ion-color-light, #f4f5f8);
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}