.vertical-line {
  border-left: 2px solid #9d9fa6;
  height: 38px;
}

.span-button {
  color: var(--ion-color-primary, #3880ff);
}

.span-button:hover {
  cursor: pointer;
}

.error {
  color: red;
}

.nav-hbar {
  border-top: 2px solid var(--ion-color-medium, #9d9fa6);
  border-bottom: 2px solid var(--ion-color-medium, #9d9fa6);
  border-radius: 2px;
  height: 0px;
  width: auto;
  margin: 0 45% 0 45%;
}

.nav-bottom-drawer {
  background-color: var(--ion-item-background, #fff);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  height: inherit;
}

.square-md {
  height: 64px;
  width: 64px;
}

.square-sm {
  height: 32px;
  width: 32px;
}

.square-xs {
  height: 16px;
  width: 16px;
}

#locationdrawerContent {
  margin-left: 30px;
  margin-right: 30px;
  position: center;
}

#locationdrawerName {
  font-weight: bold;
}

#inNavigationDrawer {
  z-index: 1;
}

#locationDrawer {
  z-index: 2;
}

#routeDrawer {
  z-index: 3;
}

#searchDrawer {
  z-index: 4;
}

.ion-img {
  height: 200px;
}
