<div *ngIf="!isUserLoggedIn">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Moodle Login
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid fixed="md">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">user name</ion-label>
          <ion-input #userNameInput type="text" class="ion-text-center" clear-input
                     (ionChange)="clearInvalidCredentialsMsg()" value="admin"
          >
            <ion-icon name="person-outline"></ion-icon>
          </ion-input>
        </ion-item>
        <!-- TODO remove searchbar values -->
        <ion-item>
          <ion-label position="stacked">password</ion-label>
          <ion-input #passwordInput type="password" class="ion-text-center" clear-input
                     (ionChange)="clearInvalidCredentialsMsg()" value="administrator"
          >
            <ion-icon name="key-outline"></ion-icon>
          </ion-input>
        </ion-item>
        <ion-button size="default" expand="full" mode="ios" color="secondary" (click)="fetchAndPersistMoodleToken()">
          <h4>sign in</h4>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center" [innerHTML]="invalidCredentialsMessage" id="invalid-credentials">
      </ion-col>
    </ion-row>
  </ion-grid>
</div>