<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>

<script>
    var app = angular.module("myShoppingList", []);
    app.controller("myCtrl", function($scope, $http) {
        //$scope.products = ["Milk", "Bread", "Cheese"];//$http.get("/shoppinglist");
        $http.get("/shoppinglist").then(function mySuccess(response) {
            console.log(response);
            $scope.products = response.data;
        });
        $scope.addItem = function () {
            $scope.errortext = "";
            if (!$scope.addMe) {return;}
            if ($scope.products.indexOf($scope.addMe) == -1) {
                //$scope.products.push($scope.addMe);
                console.log($scope)
                var obj = {name: $scope.addMe, description: "" };
                $scope.products.push(obj);
                $http.post("/shoppinglist", obj);
            } else {
                $scope.errortext = "The item is already in your shopping list.";
            }
        }
        $scope.removeItem = function (x) {
            $scope.errortext = "";
            console.log($scope.products[x])
            $http.delete("/shoppinglist/" + $scope.products[x].name)
            $scope.products.splice(x, 1);
        }
    });
</script>

<div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin" style="max-width:400px;">
    <header class="w3-container w3-light-grey w3-padding-16">
        <h3>My Shopping List</h3>
    </header>
    <ul class="w3-ul">
        <li ng-repeat="x in products" class="w3-padding-16">{{x.name}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
    </ul>
    <div class="w3-container w3-light-grey w3-padding-16">
        <div class="w3-row w3-margin-top">
            <div class="w3-col s10">
                <input placeholder="Add shopping items here" ng-model="addMe" class="w3-input w3-border w3-padding">
            </div>
            <div class="w3-col s2">
                <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button>
            </div>
        </div>
        <p class="w3-text-red">{{errortext}}</p>
    </div>
</div>

</body>
</html>
