html,
body {
  height: 100%;
  width: 100%;
}

#map {
  // margin: 100px;
}

#canvas-wrapper {
  padding: 2px;
  overflow: hidden;
  scrollbar-width: none; // FF
  -ms-overflow-style: none; // IE
}

#canvas-wrapper::-webkit-scrollbar {
  display: none; // Chrome, Safari, Opera
}

.draggable {
  cursor: grab; /* W3C standards syntax, all modern browser */
}

.draggable:active {
  cursor: grabbing;
}

floors-bar {
  position: absolute;
  top: 12px;
  right: 0;
}
