<div class="container">
    <ion-grid>
        <ion-row>
            <ion-col size="11">
                <ion-item>
                    <ion-label>From</ion-label>
                    <ion-input #inputFrom (ionFocus)="onInputFromFocus()"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>To</ion-label>
                    <ion-input #inputTo (ionFocus)="onInputToFocus()"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="1" class="swappicon ion-activatable ripple-parent" (click)="swapInputs()">
                    <ion-icon size="large" name="swap-vertical-outline"></ion-icon>
                    <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<ion-content>
    <ion-list class="ion-no-padding">
        <ion-item *ngIf="showMyLocation()" button (click)="listMyLocationClick()">
            <ion-text>My Location</ion-text>
        </ion-item>
        <ion-item *ngFor="let s of model.recentSearches;" button (click)="listRecentSearchClick(s)">
            <ion-text>{{s.Name}}</ion-text>
        </ion-item>
    </ion-list>
</ion-content>
