<div class="container">
    <div class="icon-container">
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col class="ion-text-right">
                    <ion-icon name="swap-vertical-outline"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="input-container">
        <ion-item>
            <ion-label>From</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>To</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </div>
</div>
