<div class="container">

    <div class="input-container">
        <ion-item>
            <ion-label>From</ion-label>
            <ion-input #inputFrom></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>To</ion-label>
            <ion-input #inputTo></ion-input>
        </ion-item>
    </div>
    <div class="icon-container">
        <div class="icon-wrapper">
                <ion-icon button (click)="swapInputs()" name="swap-vertical-outline"></ion-icon>
        </div>
    </div>
</div>