name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    env:  
      GO_HTTP: "./snippets/goHttpExample/src"
    steps:

    - name: Set up Go 1.13.5
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.5
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      
    - name: Get dependencies
      working-directory: ${{env.GO_HTTP}}
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi

    - name: Build
      working-directory: ${{env.GO_HTTP}}
      run: go build -v ./cmd/...

    - name: Run Unit Tests
      run: echo 'dummy unit test'
      
    - name: Build Docker
      working-directory: ${{env.GO_HTTP}}
      run: docker build --rm -f Dockerfile -t studiguide/studiguide_appservice .

    - name: Publish Docker 
      working-directory: ${{env.GO_HTTP}}
      run: |
        docker login --password ${{ secrets.DOCKER_PASSWORD }} --username ${{ secrets.DOCKER_USER }}
        docker push studiguide/studiguide_appservice:latest

    
    #- name: Build & Push to Docker Hub
    #  uses: opspresso/action-docker@master
    #  env:
    #    USERNAME: ${{ secrets.DOCKER_USER }}
    #    PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    #    IMAGE_NAME: "studiguide/studiguide_appservice"
    #    TAG_NAME: "latest"
    #    LATEST: "true"
      


