name: Go
on: [push]

env:
  GO_HTTP: "./back"
  IONIC: "./front"
  GO_VERSION: 1.13.5


jobs:

  build_front:
    name: Build Frontend
    runs-on: ubuntu-latest
    steps:
      - name: Setup java
        uses: actions/setup-java@v1
        with:
            java-version: 1.8

      - name: install Node.js and angular
        uses: actions/setup-node@v1 #this installs node and npm for us

      - run: npm i -g @ionic/cli

      - name: Check out code
        uses: actions/checkout@v1

      - name: Get dependencies Frontend
        run: npm install
        working-directory: ${{env.IONIC}}

      - name: Build frontend
        working-directory: ${{env.IONIC}}
        run: |
          ionic build --engine=browser --localize --prod

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          # Artifact name
          name: front_artefacts
          # Directory containing files to upload
          path: "${{env.IONIC}}/www"

      - name: Clear workspace
        run: rm -r ./www
        working-directory: ${{env.IONIC}}

      - name: Build for android
        run: ionic capacitor copy android && ionic cap sync && cd android && ./gradlew assembleDebug
        working-directory: ${{env.IONIC}}

  build_back:
    name: Build Backend
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.13.5
        uses: actions/setup-go@v1
        with:
          go-version: ${{env.GO_VERSION}}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Get dependencies
        working-directory: ${{env.GO_HTTP}}
        run: go mod download

      - name: Generate Database Schema/Docs/Mocks
        working-directory: ${{env.GO_HTTP}}
        run: go generate ./...

      - name: Build backend
        working-directory: ${{env.GO_HTTP}}
        run: go build -v ./cmd/...

      - name: Upload backend artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          # Artifact name
          name: back_artefacts
          # Directory containing files to upload
          path: ${{env.GO_HTTP}}




      #- name: Deploy to S3
      #  if: github.ref == 'refs/heads/master'
      #  uses: jakejarvis/s3-sync-action@master
      #  with:
      #    args: --acl public-read --delete
      #  env:
       #   AWS_S3_BUCKET: ${{ secrets.AWS_PRODUCTION_BUCKET_NAME }}
       #   AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        #  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         # SOURCE_DIR: "${{env.IONIC}}/www"

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.13.5
        uses: actions/setup-go@v1
        with:
          go-version: ${{env.GO_VERSION}}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Generate Database Schema/Docs/Mocks
        working-directory: ${{env.GO_HTTP}}
        run: go generate ./...

      - name: Run backend Unit Tests
        working-directory: ${{env.GO_HTTP}}
        run: go test -race -coverprofile=coverage.txt -covermode=atomic ./...

      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV }} #required
          file: "${{env.GO_HTTP}}/coverage.txt" #optional
          flags: unittests #optional
          fail_ci_if_error: true #optional (default = false)
          yml: ./codecov.yml #optional

  deploy:
    needs: [build_back,build_front,test]
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Build Docker
        # pass production parameter to docker to make user ionic users the right base url
        run: docker build --rm -f Dockerfile -t studiguide/studiguide_appservice . --build-arg ionicproduction=--prod

      - name: Publish Docker
        if: github.ref == 'refs/heads/master'
        #working-directory: ${{env.GO_HTTP}}
        run: |
          docker login --password ${{ secrets.DOCKER_PASSWORD }} --username ${{ secrets.DOCKER_USER }}
          docker push studiguide/studiguide_appservice:latest

        #- name: Build & Push to Docker Hub
        #  uses: opspresso/action-docker@master
        #  env:
        #    USERNAME: ${{ secrets.DOCKER_USER }}
        #    PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        #    IMAGE_NAME: "studiguide/studiguide_appservice"
        #    TAG_NAME: "latest"
        #    LATEST: "true"



