name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    env:  
      GO_HTTP: "./back"
      IONIC: "./front"
    steps:

    - name: Set up Go 1.13.5
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.5
      id: go

    - name: Setup Ionic
      uses: coturiv/setup-ionic@v1.0.0
        
    - name: install Node.js and angular
      uses: actions/setup-node@v1 #this installs node and npm for us
      
    - run: npm install
    - run: npm install -g @angular/cli > /dev/null
      
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      
    - name: Get dependencies
      working-directory: ${{env.GO_HTTP}}
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi

    - name: Build backend
      working-directory: ${{env.GO_HTTP}}
      run: go build -v ./cmd/...

    - name: Run backend Unit Tests
      working-directory: ${{env.GO_HTTP}}
      run: go test -cover ./...
      
    - name: Build frontend
      working-directory: ${{env.IONIC}}
      run: |
        ionic build --engine=browser
      
    - name: Build Docker
      working-directory: ${{env.GO_HTTP}}
      run: docker build --rm -f Dockerfile -t studiguide/studiguide_appservice .

    - name: Publish Docker 
      working-directory: ${{env.GO_HTTP}}
      run: |
        docker login --password ${{ secrets.DOCKER_PASSWORD }} --username ${{ secrets.DOCKER_USER }}
        docker push studiguide/studiguide_appservice:latest

    
    #- name: Build & Push to Docker Hub
    #  uses: opspresso/action-docker@master
    #  env:
    #    USERNAME: ${{ secrets.DOCKER_USER }}
    #    PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    #    IMAGE_NAME: "studiguide/studiguide_appservice"
    #    TAG_NAME: "latest"
    #    LATEST: "true"
      


